*{
    box-sizing: border-box;
}

body{
    display: flex ;
    flex-direction: column;
}


header h1{
    text-align: center;

}

.linkcolumns{
    border: 1px solid red;
    overflow: auto;
    width: 100%;
    height: 100px;
}

a{
    display: block;
    text-decoration: none;
}
